<h1>Content List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!contents"><em>Loading...</em></p>

<table class='table' *ngIf="contents">
    <thead>
        <tr>
            <th>ID</th>
            <th>Lookup</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let content of contents">
            <td>{{ content.id }}</td>
            <td>{{ content.lookupName }}</td>
            <td>{{ content.data }}</td>
            <td></td>
        </tr>
    </tbody>
</table>
